@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* CSS Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}


body {
	background-color: #F2EBE9;
	/* font-family: "Quicksand", sans-serif; */
}


h1 {
	font-family: "Acme", sans-serif;
	font-size: 6vh;
	font-weight: bolder;
}

p {
	font-family: "Quicksand", sans-serif;
	letter-spacing: 4px;
}



/* Navigation bar */
.navbar-logo {
	width: 100px;
	height: 75px;
	box-shadow: inset 0 0 0 0 yellow;
	transition: ease-out 0.5s;
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: end;
	background-color: #0F3D3E;
}




/* Section 1 (About Me) */
#web-developer {
	font-family: "Acme", sans-serif;
	color: #F15412;
	font-weight: bolder;
	font-size: 6vh;

}


/* Paragraph below header */
#about p {
	font-size: 19px;
	font-weight: bold;
	padding-top: 15px;
}

/* For avatar image */
.avatar {
	margin-top: 4rem;
	width: 100vw;
	height: 25vh;
}


/* hello button */
.hello {
	width: 200px;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	border: none;
	background-color: rgba(148, 180, 159, 0.5);
	box-shadow: inset 0 0 0 0 yellow;
	transition: ease-out 0.5s;
	outline: none;
}
.hello:hover {
	box-shadow: inset 200px 0 0 0 #1fcfae;
	cursor: pointer;
	color: white;
}


.section-one {
	margin-top: 5rem;
}	
/* End of Section 1 (About Me) */



/* Section 2 */
.section-two {
	margin-bottom: 18rem;
	padding-top: 10rem;
}

#journey p {
	font-weight: bold;
	font-size: 1.3em;
}




/* Section 3 */
.div-gallery {
	padding-top: 5em;
}


.gallery {
	max-height: 70vh;
}


#hobby {
	background-color: #94B49F;
	height: 100vh;
}

#hobby p {
	font-size: 1.3em;
	font-weight: bold;
	color: white;

}


/* Card Section */
.col:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.card-image {
	filter: blur(0.6px);
}

.card {
	min-height: 100%;
}
.card:hover {
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
	transition: 0.5s;
}

.inner {
	overflow: hidden;
}
.inner img {
	filter: grayscale(100%);
	transition: all 1.5s ease;
}
.inner:hover img {
	filter: grayscale(0%);
	transform: scale(1.2);
}

.card-text {
	letter-spacing: 1px;
}

.btn {
	text-decoration: none;
	border: none;
	color: black;
}
.btn a:hover {
	box-shadow: 1px 1px 1px 1px;
	border-radius: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}



/* Section 4 (Contact) */

/* google map */
.map {
	height: 400px;
	min-width: 100%;
}

.modal-button {
	color: black;
	background-color: #DCD7C9;
	padding: 5px;
}



/* Footer Section */
footer, footer h4 {
	background-color: #3F4E4F;
	color: white;
}

.other-icons {
	width: 6%;
}

.fa-database {
	color: #7fabda;
}

.fa-node.js {
	color: white;
}

.fa-instagram {
	color: #c246be;
}

.fa-spotify {
	color: #098729;
}

.fa-twitter {
	color: #219bff;
}

.fa-linkedin-square {
	color: #51a4e8;
}

.fa-html5 {
	color: #f25d2c;
}

.fa-css3 {
	color: #1346ed;
}

.fa-bootstrap {
	color: #7c11f8
}

.fa-square-js {
	color: #f7cf00
}


.fa-git-square {
	color: #f25d2c;
}

.fa-github {
	color: #030100;
}

.fa-gitlab {
	color: #f25d2c;
}

.fa-lg {
	font-size: 25px;
}

